@model IEnumerable<User>
@{
    ViewData["Title"] = "Index";
}


<dev class="container p-3">
    @if (TempData["successData"] != null)
    {
        <h6 style="color:limegreen ">
            @TempData["successData"]
        </h6>
    }
    <dev class="row pt-4">
        <dev class="col-6">
            <h2 class="text-primary">Users View</h2>
        </dev>
        <dev class="col-6 text-end">
            <a asp-controller="Users" asp-action="New" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Add New User
            </a>
        </dev>
    </dev>
    <dev>
        <table class="table table-bordered table-striped" sytle="width:100%">
            <thead>
                <tr>
                    <th scope="col">
                        User Name
                    </th>
                    <th scope="col">
                        Email 
                    </th>
                    <th scope="col">
                        Created At 
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr class="table table-primary">
                        <td scope="row" width="25%">
                            @user.UserName
                        </td>

                        <td scope="row" width="25">
                            @user.Email
                        </td>
                        <td scope="row" width="25%">
                            @user.CreatedAt
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="Edit" asp-route-Id="@user.UserId">
                                <i class="bi bi-pencil"></i>
                            </a>
                            &nbsp;
                            <a asp-controller="Users" asp-action="Delete" asp-route-Id="@user.UserId">
                                <i class="bi bi-trash3"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </dev>
</dev>